.MuiButtonBase-root {
  height: 36px;
}

.formBox {
  display: flex;
  width: 75%;
  margin: 0 auto;
  background-color: rgba(252, 221, 236, 0.7);
  flex-direction: column;
  padding: 20px 5px;
}

#NavBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 20px;
}

/* At the top level of your code */
@media screen and (min-width: 768px) {
  .formBox {
    width: 30%;
    /* margin: 0 auto; */
  }
}
