.MuiButtonBase-root {
  height: 36px;
}

#NavBar {
  display: flex;

  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 20px;
}

.form {
  background-color:rgba(255,221,236,0.7);
  border-radius: 3px;
  width: 300px;
  margin: auto;
}

#sign-in {
  display: flex;
  flex-flow: column;
  border: none;
}
