.MuiButton-contained {
  height: 36px;
}

.FormBox {
  display: flex;
  width: 75%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(252, 221, 236, 0.7);
  flex-direction: column;
  padding: 15px 3px;
  border-radius: 10px;
}

#NavBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  height: 48px;
  margin: 0.8%;

}

#ImageList {
  /* width: 640px; */
  width: 100%;
}
#Profile {
  /* width: 640px; */
  width: 100%;
}

#Logo {
  content:url(../images/short_logo.svg);
}

/* At the top level of your code */
@media screen and (min-width: 768px) {
  #NavBar {
    margin: 5px 10px;
  }
  #Logo {
    content:url(../images/logo.svg);
  }
}

@media screen and (min-width: 1350px) {
  /* .Profile { */
  #ImageList {
    width: 100%;
    max-width: 1600px;
  }
  #Profile {
    width: 100%;
    max-width: 1600px;

  }
}
