body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background rendering */
  background-image:
    linear-gradient(to bottom, rgba(171, 0, 144, .25), rgba(171, 0, 144, .25)),
    url('../images/mobile_bkg.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  text-align: center;
  color: white;
}

div#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 30px;
  padding-bottom: 10vh;
  margin: 20px;
}

/* Button #createAccount { */
button#createAccount {
  position: 50%;
}

footer #notice {
  font-size: 60%;
}

/* At the top level of your code */
@media screen and (min-width: 768px) {
  body {
    background-image:
      linear-gradient(to bottom, rgba(171, 0, 144, .25), rgba(171, 0, 144, .25)),
      url('../images/web_bkg.jpg');
    background-position: center center;
  }

  h1 {
    font-size: 40px;
    text-align: start;
    padding-left: 20%;
  }

  footer #notice {
    font-size: 100%;
  }
}